
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  align-items: middle;
  padding:30;
}

.Rad {
  fill: none;
  stroke: rgb(129, 223, 240);
  stroke-width: 8px;
}

.Sin {
  fill: none;
  stroke: rgb(110, 102, 219);
  stroke-width: 8px;
}

.Cos {
  fill: none;
  stroke: rgb(103, 221, 148);
  stroke-width: 8px;
}

.Bar-cos {
  fill: none;
  stroke: rgb(103, 221, 148);
  stroke-width: 1.2px;
}

.Bar-sin {
  fill: none;
  stroke: rgb(110, 102, 219);
  stroke-width: 1.2px;
}

.Graph {
  fill: none;
  stroke: white;
  stroke-width: 1.4px;
}

.Arrow {
  fill: none;
  stroke: rgb(100, 171, 184);
  stroke-width: 1px;
}

.Circle {
  fill: none;
  stroke: white;
  stroke-width: 8px;
  stroke-miterlimit: 10;
}

.Arc {
  fill: none;
  stroke: rgb(219, 102, 102);
  stroke-width: 2px;
  stroke-miterlimit: 10;
}

.Axis {
  fill: none;
  stroke: white;
  stroke-width: 2px;
  stroke-miterlimit: 10;
}

.Pin {
  fill: white;
}

.sizing-box {
  fill: none;
}

#Rot {
    transform-origin: 300px 300px;
}

.Move {
  transform: translate(-49px);
}